<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inventoryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".ModelRecieveActivity"></activity>
        <activity android:name=".CompleteShipActivity" />
        <activity android:name=".AttachImagesAcitivty" />
        <activity android:name=".ScanSerialActivity" />
        <activity android:name=".ModelShipActivity" />
        <activity android:name=".QuickReceiveActiviy" />
        <activity android:name=".QuickShipAcitivity" />
        <activity android:name=".SOItemDetial" />
        <activity android:name=".POItemDetail" />
        <activity android:name=".RecieveItemDetail" />
        <activity android:name=".RecieveDetail">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ItemDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>